body{
    background-color: rgb(248, 107, 105) !important;
    transition: all ease-in 0.5s;
}
.container{
    padding: 20px;
}
.row{
    margin-bottom: 20px;
}
#submitProblem{
    background-color:#e9ecef;
    padding: 20px;
}
.col-sm{
    background-color: #e9ecef;
    margin: 10px;
    padding: 20px;
}
