body{
    background-color: #EF5350 !important;
    transition: all ease-in 0.5s;
}
.container{
    padding: 20px;
}
.row{
    margin-bottom: 20px;
}
#submitProblem{
    background-color: antiquewhite;
    padding: 20px;
}
.col-sm{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
}
