body{
    background: linear-gradient(#007bff,#6610f2) !important;
    font-family: 'Poppins', sans-serif !important;
    transition: all ease-in 0.5s;
}
.navbar{
    background-color: rgb(36, 36, 36);
}
.navbar-dark .navbar-brand {
    color: #efeff0 !important;
    font-family: 'Arial Narrow Bold', sans-serif;;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border: none !important;
}
.container{
    padding: 20px;
}
.row{
    margin-bottom: 20px;
}
#submitProblem{
    background-color:#e9ecefb9;
    padding: 20px;
    border-radius: .3rem;
}
.col-sm{
    background-color: #e9ecefb9;
    margin: 10px;
    padding: 20px;
    border-radius: .3rem;
}
