body {
  background: linear-gradient(#007bff, #6610f2) !important;
  font-family: "Poppins", sans-serif !important;
  transition: all ease-in 0.5s;
}
.navbar {
  background-color: rgb(36, 36, 36);
}
.navbar-dark .navbar-brand {
  color: #efeff0 !important;
  font-family: "Arial Narrow Bold", sans-serif;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}
.jumbotron {
  margin-top: 10px;
}
.btn {
  margin-bottom: 15px;
}
form{
  background-color: #e9ecefb9;
  padding: 10px;
  border-radius: .3rem;
}
caption{
  color: black !important;
}
.btnContainer {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tablediv {
  overflow-x: scroll;
}
