body {
  background: linear-gradient(#007bffe6, #6710f2e6) !important;
  font-family: "Poppins", sans-serif !important;
  transition: all ease-in 0.5s;
}
.navbar {
  background-color: rgb(40, 40, 40);
}
.navbar-dark .navbar-brand {
  color: #efeff0 !important;
  font-family: "Arial Narrow Bold", sans-serif;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}
.jumbotron {
  margin-top: 10px;
}
.container{
  min-height: 95vh !important;
  height: fit-content !important;
  margin-top: 20px;
}
.btn {
  margin-bottom: 15px;
}
caption{
  color: black !important;
}
.btnContainer {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form{
  background-color: #e9ecefb9;
  padding: 10px;
  border-radius: .3rem;
}
.tablediv {
  overflow-x: scroll;
}
.table-dark{
  background-color: #e9ecef !important;
  color: rgba(26, 25, 25, 0.849) !important;
}
