body{
    background-color: rgba(101, 243, 143, 0.75) !important;
    transition: all ease-in 0.5s;
}
.jumbotron{
    margin-top:10px;
}
.btn{
    margin-bottom:15px;
}
.btnContainer{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tablediv{
  overflow-x: scroll;   
}